@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to DotNet Bookstore</h1>
    <p>We are learning ASP.NET Core MVC in Fall 2024 at Georgian College</p>
</div>
