@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shop our store";
}
<h1>Shope our store</h1>
<ul>
    
    <li><a asp-controller="categories" asp-action="browse" asp-route-category="Category 1">Category 1</a></li>
    <li><a asp-controller="categories" asp-action="browse" asp-route-category="Category 2">Category 2</a></li>
    <li><a asp-controller="categories" asp-action="browse" asp-route-category="Category 3">Category 3</a></li>
</ul>
