@model IEnumerable<DotNet_Bookstore.Models.Category>


@{
    ViewData["Title"] = "Shop our store";
}
<h1>Shope our store</h1>
<a asp-controller="Categories" asp-action="Create">Add a new category</a>
<ul>
    @foreach (var c in Model)
    {
        <li>
            <a asp-controller="Categories" asp-action="Browse" asp-route-category="@c.Name">@c.Name</a>            
        </li>
    }
    @* <li><a asp-controller="categories" asp-action="browse" asp-route-category="Category 1">Category 1</a></li>
    <li><a asp-controller="categories" asp-action="browse" asp-route-category="Category 2">Category 2</a></li>
    <li><a asp-controller="categories" asp-action="browse" asp-route-category="Category 3">Category 3</a></li> *@


</ul>
